@charset "utf-8";
@import "~bulma/bulma";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
    margin: 30px;
}

.is-bold {
    font-weight: bold;
}

.doll-wrapper {
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.doll-body {
    position: relative;
}

.tshirt {
    width: 202px;
    height: 211px;
    height: auto;
}
.jeans {
    width: 168px;
    height: 389px;
}

.tshirt-option {
    width: 202px;
    // height: 211px;
    height: auto;
}

.jeans-option {
    width: 168px;
    // height: 389px;
    height: auto;
}

.selected-tshirts img {
    position: absolute;
    top: 158px;
    left: calc(50% - 100px);
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.selected-jeans img {
    position: absolute;
    top: 347px;
    left: calc(50% - 83px);
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.tshirts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    // margin-top: 158px;
    margin: 10px 30px;
    // border: 1px solid grey;

    .tshirt-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.jeans-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 30px;
    // border: 1px solid grey;
    
    .jeans-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        align-self: flex-start;
    }
}

.card {
    margin-left: 10px;
}

.card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cost-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .container {
        height:100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

.glass {
    background: rgba( 255, 255, 255, 0.50);
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 100%;
}

.water {
    background-image: url("../assets/images/waves.png");
    background-position: top right;
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 10em;
      border-radius: 100%;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.glass .water-animate {
    height: 30em;
    background-position: top left;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
}

.drop-container {
    display: flex;
}


.drop {
    width: 20px;
    height: 20px;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    border: 1px solid transparent;
    transform: rotate(-45deg);
    margin-top: 10px;
    background-color: #a4c6fa;
}


.drop-inactive {
    width: 20px;
    height: 20px;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    border: 1px solid #a4c6fa;
    transform: rotate(-45deg);
    margin-top: 10px;
    background-color: transparent;
}